# Environnements virtuels
venv

# Fichiers pour le README.MD
images/* binary

# Fichiers générés par pytest-cov
htmlcov/
.coverage

# Fichiers générés par PyCharm
.idea/
*.iml

# Fichiers bytecode Python
__pycache__/
*.pyc

# Anciens fichiers de code
old/
